.secao-horizontal{
    margin: 0 0 1rem 0;
}
.secao-horizontal .secao__titulo{
    margin: 1rem 0 .5rem 0;
}
.secao-horizontal .cartao{
    display: grid;
    gap: .3rem;
    grid-template-columns: auto 1fr auto;
    margin: .3rem 0;
}

.secao-horizontal .cartao__imagem{
    grid-area: 1/1/4/2;
}
.secao-horizontal .cartao__botao{
    grid-area: 1/3/4/4;
}